In [1]:
import numpy as np
import pandas as pd

In [2]:
tempdf = pd.read_csv("cumulative-co-emissions-Copy1.csv")
tempdf.head(20)

         Entity Code  Year  Cumulative CO2 emissions
0   Afghanistan  AFG  1949                   14656.0
1   Afghanistan  AFG  1950                   98928.0
2   Afghanistan  AFG  1951                  190528.0
3   Afghanistan  AFG  1952                  282128.0
4   Afghanistan  AFG  1953                  388384.0
5   Afghanistan  AFG  1954                  494640.0
6   Afghanistan  AFG  1955                  648528.0
7   Afghanistan  AFG  1956                  831728.0
8   Afghanistan  AFG  1957                 1124848.0
9   Afghanistan  AFG  1958                 1454608.0
10  Afghanistan  AFG  1959                 1839179.0
11  Afghanistan  AFG  1960                 2253064.0
12  Afghanistan  AFG  1961                 2743862.0
13  Afghanistan  AFG  1962                 3432456.0
14  Afghanistan  AFG  1963                 4139192.0
15  Afghanistan  AFG  1964                 4977743.0
16  Afghanistan  AFG  1965                 5984660.0
17  Afghanistan  AFG  1966                 7075819.0
18  Afghanistan  AFG  1967                 8357684.0
19  Afghanistan  AFG  1968                 9581075.0

In [3]:
countries = ["United Kingdom", "United States", "Canada", "European Union (27)", "India", "China"]

In [4]:
df = tempdf[tempdf["Entity"].isin(countries)]

In [5]:
df = df[df["Year"] > 1999]

In [6]:
df[df["Entity"] == "Canada"]

      Entity Code  Year  Cumulative CO2 emissions
5202  Canada  CAN  1950              4.506218e+09
5203  Canada  CAN  1951              4.668896e+09
5204  Canada  CAN  1952              4.828305e+09
5205  Canada  CAN  1953              4.988913e+09
5206  Canada  CAN  1954              5.151881e+09
...      ...  ...   ...                       ...
5270  Canada  CAN  2018              3.242665e+10
5271  Canada  CAN  2019              3.300524e+10
5272  Canada  CAN  2020              3.352808e+10
5273  Canada  CAN  2021              3.406526e+10
5274  Canada  CAN  2022              3.461320e+10

[73 rows x 4 columns]

In [7]:
df = df.pivot(index = "Entity", columns = "Year", values = ["Cumulative CO2 emissions"])

In [8]:
df

                    Cumulative CO2 emissions                              \
Year                                    1950          1951          1952
Entity
Canada                          4.506218e+09  4.668896e+09  4.828305e+09
China                           2.271156e+09  2.373272e+09  2.501271e+09
European Union (27)             6.564488e+10  6.707458e+10  6.856133e+10
India                           1.998734e+09  2.062756e+09  2.130183e+09
United Kingdom                  3.916602e+10  3.971127e+10  4.023998e+10
United States                   9.198783e+10  9.460654e+10  9.715776e+10

                                                                             \
Year                         1953          1954          1955          1956
Entity
Canada               4.988913e+09  5.151881e+09  5.321354e+09  5.511156e+09
China                2.635054e+09  2.795931e+09  2.986453e+09  3.202277e+09
European Union (27)  7.007627e+10  7.168756e+10  7.343084e+10  7.529784e+10
India                2.198887e+09  2.271301e+09  2.350089e+09  2.431745e+09
United Kingdom       4.078019e+10  4.133320e+10  4.191014e+10  4.248447e+10
United States        9.977073e+10  1.022600e+11  1.049890e+11  1.078490e+11

                                                               ...  \
Year                         1957          1958          1959  ...
Entity                                                         ...
Canada               5.693967e+09  5.876123e+09  6.060604e+09  ...
China                3.458062e+09  3.982679e+09  4.702831e+09  ...
European Union (27)  7.722411e+10  7.913488e+10  8.107538e+10  ...
India                2.523380e+09  2.619196e+09  2.720644e+09  ...
United Kingdom       4.305519e+10  4.361150e+10  4.415811e+10  ...
United States        1.106840e+11  1.134320e+11  1.162640e+11  ...

                                                                             \
Year                         2013          2014          2015          2016
Entity
Canada               2.958821e+10  3.015456e+10  3.072524e+10  3.128293e+10
China                1.662550e+11  1.762540e+11  1.861210e+11  1.958860e+11
European Union (27)  2.694700e+11  2.725110e+11  2.756040e+11  2.787020e+11
India                3.744551e+10  3.959385e+10  4.182807e+10  4.418273e+10
United Kingdom       7.544977e+10  7.588857e+10  7.631104e+10  7.671047e+10
United States        3.801000e+11  3.856290e+11  3.910050e+11  3.962580e+11

                                                                             \
Year                         2017          2018          2019          2020
Entity
Canada               3.184958e+10  3.242665e+10  3.300524e+10  3.352808e+10
China                2.058970e+11  2.162510e+11  2.269720e+11  2.378860e+11
European Union (27)  2.818220e+11  2.848680e+11  2.877720e+11  2.904020e+11
India                4.660933e+10  4.920239e+10  5.181528e+10  5.423684e+10
United Kingdom       7.709784e+10  7.747757e+10  7.784232e+10  7.816858e+10
United States        4.014700e+11  4.068480e+11  4.121100e+11  4.168250e+11


Year                         2021          2022
Entity
Canada               3.406526e+10  3.461320e+10
China                2.492220e+11  2.606190e+11
European Union (27)  2.932080e+11  2.959700e+11
India                5.691106e+10  5.974070e+10
United Kingdom       7.851604e+10  7.883470e+10
United States        4.218570e+11  4.269150e+11

[6 rows x 73 columns]

In [9]:
df.to_csv("Cumulative C02 emissions Pivot Table.csv")